body{
    text-align: auto ;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(35,74,200,1) 100%);
}
p1{
    position: absolute;
    top: 70px; 
    left: 60px;
    color: #000;
font-family: Inter;
font-size: 50px;
font-style: normal;
background: aquamarine;
height: 45px;
border-radius: 5px;
border: 2px solid black;
}
.s1{
     width:200px;
     border-radius: 5px;
}
 head{
    width: 300px;
    border-bottom:  3px solid black;
 }
 main{
    margin-top: 40px;
 }
 .button{
    display: flex;
    width: 185px;
    background-color: rgb(251, 255, 0);
    font-size: 30px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 7px;
    margin-bottom: 5px;
    cursor: pointer;
    transition:  0.3s ease-in-out;
    border-top: 3px dashed black;
    border-bottom: 3px dashed black;
 }
 nav a{
    text-decoration:none;
    color: #000;
}
 .button:hover{
    background-color: rgb(120, 50, 233);
    box-shadow: 7px 4px 0 0 black ;
    color: beige;
    
    
 }
 


.border{
    border-bottom:  3px  black;
    border-bottom-style: dashed;
}
.s2{
    width: 159px;
    height: 159px;
    border-radius: 5px;
}
.s2:hover{
    width: 200px;
    height: 200px;
    transition: 1.5s;
}

.info{
font-size: 30px;
border: 3px solid black;
margin-top: 20px;
width: auto;
display: flex;
justify-content: left;
flex-wrap: wrap;
background-color: wheat;

}

.s4:hover{
width: 200px;
height: 200px;
transition: 1.5s;
}

.s3:hover{
    width: 200px;
    height: 200px;
    transition: 1.5s;
    }

p9{
    background-color: aquamarine;
    border-radius: 5px;
    padding:10px;
    font-size: 20px;
}
.s4{
    height: 159px;
    width: 159px;
    border-radius: 5px;
}
.s3{ width: 159px;
    height: 159px;
border-radius: 5px;
}

b2{
    text-decoration:underline;
}

p10{
    background-color: aquamarine;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    
}
