body{
    text-align: auto ;
    background-color: rgb(74, 74, 226);
    border-radius: 5px;
}
p1{
    position: absolute;
    top: 70px; ;
    left: 60px;
    color: #000;
font-family: Inter;
font-size: 50px;
font-style: normal;
background: aquamarine;
height: 45px;
border-radius: 5px;
border: 2px solid black;
}
.s1{
     width:200px;
     border-radius: 5px;
}
 head{
    width: 300px;
    border-bottom:  3px solid black;
 }
 .button{
    display: flex;
    width: 185px;
    background-color: rgb(251, 255, 0);
    font-size: 30px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
 }
 nav a{
    text-decoration:none;
    color: #000;
}
 .button:hover{
    background-color: rgb(120, 50, 233);
    color:white;
 }
 


.border{
    border-bottom:  3px  black;
    border-bottom-style: dashed;
}
.s2{
    width: 159px;
    border-radius: 5px;
}
.info{
font-size: 30px;
border: 3px solid black;
margin-top: 20px;
width: auto;
display: flex;
justify-content: left;
flex-wrap: wrap;
}
p9{
    background-color: aquamarine;
    border-radius: 5px;
    padding:10px;
    font-size: 20px;
}
.s4{
    height: 159px;
    width: 159px;
}
.s3{ width: 159px;
border-radius: 5px;
}

b2{
    text-decoration:underline;
}

p10{
    background-color: aquamarine;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    
}
